:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  background-color: #f9fafc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: inherit;
  color: inherit;
}
